
@{
    ViewData["Title"] = "Trình quản lý website TeamOK";
    Layout = "~/Views/Admin/_AdminIndexLayout.cshtml";
}

<div class="container-fluid index">
    <table>
        <tr>
            <th>MSSV</th>
            <th>Họ và tên</th>
            <th>Công việc</th>
        </tr>
        <tr>
            <td>43.01.104.047</td>
            <td>Vũ Xuân Hậu</td>
            <td>
              Ăn Chơi NHảy Múa
            </td>
        </tr>
        <tr>
            <td>43.01.104.055</td>
            <td>Nguyễn Thị Diệu Hoàn</td>
            <td> Chỉnh css phần Views</td>
        </tr>
        <tr>
            <td>43.01.104.010</td>
            <td>Nguyễn Thị Ngọc Ánh</td>
            <td>
                Chỉnh css phần Views
            </td>
        </tr>
        <tr>
            <td>42.01.104.xxx</td>
            <td>Ngô Xuân Phi</td>
            <td>
                Chỉnh css phần Views
            </td>
        </tr>
        <tr>
            <td>42.01.104.xx</td>
            <td>Phạm Văn KHoa</td>
            <td>
                Chỉnh css phần Views
            </td>
        </tr>
    </table>
</div>

